- form_for [:admin, @user] do |f|
  = f.error_messages
  %p
    = f.label :first_name, 'First Name'
    %br
    = f.text_field :first_name
  %p
    = f.label :last_name, 'Last Name'
    %br
    = f.text_field :last_name
  %p
    = f.label :email, 'E-mail Address'
    %br
    = f.text_field :email
  %p
    = f.label :password, f.object.new_record? ? nil : "Change password"
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
  %p
    = f.label :role_id, 'Role'
    %br
    = f.select :role_id, @roles.collect { |r| [r.name, r.id]}
  %p= f.submit "Save"